/* 
====================
   General
====================
 */
body {
    background-color: darkslategray;
    color: white;
    height: 100vh;
    width: 100%;
    margin: 0;
}

/* 
=======================
   Login/Register Form
=======================
*/

.Form{
    padding: 25px;
    margin: 40px auto;
    width: 25%;
    height: 50%;
    display: block;
    color: black;
    background-color: white;
    text-align: center;
    border: 1px solid black;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
    border-radius: 20px;
}

.formContainer > div:last-child {
    display: none;
}

.formContainer input {
    display: block;
    margin: 0 auto;
    width: 60%;
    height: 40px;
    border-radius: 5px;
    margin-bottom: 35px;
}

.LogRegBut {
    width: 60%;
    height: 40px;
    background-color: green;
    color: white;
    border-radius: 10px;
    border: 1px;
    cursor: pointer;
}

.LogRegBut:active {
    box-shadow: inset 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.LogRegBut:focus {
    outline: none;
}

/* 
=======================
   Login/Register switch
=======================
*/

.switch {
    list-style: none;
    padding: 0;
    margin: 0 0 50px 0;
}

.switch:after {
    content: "";
    display: table;
    clear: both;
}

.switch li a{
    display: block;
    text-decoration: none;
    padding: 15px;
    background: #DFEFDF;
    color: #a0b3b0;
    font-size: 20px;
    float: left;
    width: 43%;
    text-align: center;
    cursor: pointer;
    transition: .5s ease;
}

.switch li a:hover {
    background: #60B060;
    color: #ffffff;
}

.switch .active a {
    background: green;
    color: #ffffff;
}

/* 
====================
    Home Page
====================
*/

.side{
    float: left;
    height: 100%;
}

.left{
    width: 30%;
}

.right{
    width: 70%;
    background-color: white;
    color: black;
}

.center{
    margin: 40px auto;
    text-align: center;
    padding: 25px;
}

.profileButton{
    padding: 20px 40px;
    margin-bottom:  1000px;
    background-color: green;
    color: white;
    border-radius: 10px;
    border: 1px;
    text-decoration: none;
    cursor: pointer;
}
.profileButton:active {
    box-shadow: inset 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.profileButton:focus {
    outline: none;
}

.DM {
    color: magenta;
}

.myimage{
    width: 100px;
    height: 100px;
    display: inline-block;
}

h5 {
    display: inline-block;
    margin-left: 5%;
}