
body {
    background-color: darkslategray;
    color: white;
    margin: 0;
}

/* 
====================
    Home Page
====================
 */
.cookiediv{
    margin: auto;
    text-align: center;
}

.my_image {
    width: 120px;
}

/* 
=======================
   Login/Register Form
=======================
 */

 .Form{
    padding: 25px;
    margin: 40px auto;
    width: 25%;
    height: 50%;
    display: block;
    color: black;
    background-color: white;
    text-align: center;
    border: 1px solid black;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
    border-radius: 20px;
 }

 .formContainer > div:last-child {
     display: none;
 }

 .formContainer input {
    display: block;
    margin: 0 auto;
    width: 60%;
    height: 40px;
    border-radius: 5px;
    margin-bottom: 35px;
}

.LogRegBut {
    width: 60%;
    height: 40px;
    background-color: green;
    color: white;
    border-radius: 10px;
    border: 1px;
    cursor: pointer;
}

.LogRegBut:active {
    box-shadow: inset 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.LogRegBut:focus {
    outline: none;
}

/* 
=======================
   Login/Register switch
=======================
 */

 .switch {
    list-style: none;
    padding: 0;
    margin: 0 0 50px 0;
}

.switch:after {
    content: "";
    display: table;
    clear: both;
}

.switch li a{
    display: block;
    text-decoration: none;
    padding: 15px;
    background: #DFEFDF;
    color: #a0b3b0;
    font-size: 20px;
    float: left;
    width: 43%;
    text-align: center;
    cursor: pointer;
    transition: .5s ease;
}

.switch li a:hover {
    background: #60B060;
    color: #ffffff;
}

.switch .active a {
    background: green;
    color: #ffffff;
}